#menu{
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-menu{
 display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


