.gris{
  background-color: #e0e0e0;    
}

div{
  background-color: #ffffff;
}

.alto{
  height:auto;
}

.tit{
  font-family: Verdana, Helvetica, sans-serif;
}


body{
  height: 100px;
  background-size: cover;
  background-position: center;
}

.login-page{
  position: absolute;
  position: translate(-32%, 30%);
  width: 500px;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;

}

header{
  background-color: black;
  height: 200px;
  background-size: cover;
  background-position: center;
}

ul{
    float: right;
  list-style-type: none;
  margin-top: 25px;

}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

ul li.active a{
  background-color: #fff;
  color: #000;
}
.logo img{
  position: absolute;
  position: translate(-42%, 0%);
  width: 150px;
  height: 150px;
  /*float: center;
  width: 150px;
  height: auto;
  margin-left: 43%;
  margin-top: 100px;*/
}

.main{
  max-width: 1200px;
  margin: auto;
  position: center;

}

.title{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size: 70px;

}

.button{
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;


}
.btn:hover{
  background-color: #fff;
  color: #000;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  width: 100%;
  height: 300px;
  background: url(Fondo.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
  font-family: Quicksand;
}

.nav {
  position: fixed;
  top: 10%;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;

}

.left {
  float: left;
}

.left ul {
  list-style: none;
  padding: 1em 3em;
}

.left ul li {
  display: inline-block;
}

.left ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}


.right {
  float: right;
}
.fila{
  display:flex;
  justify-content: center; 
  border:0px solid black;
  margin-top: 0px; 
  margin-bottom: 0px;
}

.imagen{
  padding-top: 10px;
  height: auto;
}

.nota{
  font-family: Arial, Helvetica, sans-serif;
}
.cont1{
   position: absolute;
  padding: 30px;
    border: 1px solid #eee;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.resp {
  margin: 20px;
  padding: 20px;
  background-color: grey;
}
.input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }