html{
  font-family: 'Yeon Sung', cursive;
}
body{
  font-family: 'Yeon Sung', cursive;
}

#cabecera{
    background-color:#000a12;
    font-family: 'Yeon Sung', cursive;
}
#colornyf{
    background-color : #000a12;
    font-family: 'Yeon Sung', cursive;
}
#footer{
  background-color: #000a12;
  font-family: 'Yeon Sung', cursive;
}

ul.nav a{
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Yeon Sung', cursive;
}
aside{
  background-color: #eaeae1;
  font-family: 'Yeon Sung', cursive;
}
form button.btn-sm{
  color: white;
  background-color: #000a12;
  border-color: #000a12;
  font-weight: bold;
  font-family: 'Yeon Sung', cursive;
}
.card label{
  color: #39b54a;
  font-weight: bold;
  font-family: 'Yeon Sung', cursive;
}
.card-text.price{
  color: #4b86dc;
  font-size: 22px;
  font-family: 'Yeon Sung', cursive;
}
.card button{
  background-color: #000a12;
  border-color: #000a12;
  font-family: 'Yeon Sung', cursive;
}
.card button:hover{
  background-color: #000a12;
  border-color: #000a12;
  font-family: 'Yeon Sung', cursive;
}
a .show{
  float: right;
  font-family: 'Yeon Sung', cursive;
}
span.featured-text{
  color:#1C2833;
  font-family: 'Yeon Sung', cursive;
}
aside ul li:hover > a{
  border-left: 2px solid #1C2833;
  font-family: 'Yeon Sung', cursive;
}
aside ul li:hover ul li a{
  color: #aaa;
  font-family: 'Yeon Sung', cursive;
}
aside ul li:hover ul li:hover a{
  color: black;
  border-left: none;
  font-family: 'Yeon Sung', cursive;
}
div.position-fixed p{
  margin: 2px;
  color: white;
  font-weight: bold;
  font-family: 'Yeon Sung', cursive;
}
div.position-fixed{
  right: 1px;
  width: 20%;
  text-align: center;
  border-radius: 3px;
  font-family: 'Yeon Sung', cursive;
}
footer div.card .card-body h5,
footer div.card .card-body p,
footer div.card .card-body li,
footer div.card .card-body i{
  color: white;
  font-family: 'Yeon Sung', cursive;
}
footer div.card-body a{
  color: white;
  text-decoration: none;
  font-family: 'Yeon Sung', cursive;
}
footer div.card-body li{
  list-style: none;
  font-family: 'Yeon Sung', cursive;
}
.card-body a, .card-body a:hover{
  color: #aaa;
  text-decoration: underline;
  font-family: 'Yeon Sung', cursive;
}
.cards h3{
  font-family: 'AntipastoRegular';
}
.buttonlink:hover{
  cursor: pointer;
  font-family: 'Yeon Sung', cursive;
}
#cabecera form{
  height: 45px;
  width: 40%;
  font-family: 'Yeon Sung', cursive;
}
form input, form button{
  height: 100%;
  padding: 0;
  font-family: 'Yeon Sung', cursive;
}
form input{
  width: 80%;
  font-family: 'Yeon Sung', cursive;
}

.header{
  background-color: #000a12;
  font-family: 'Yeon Sung', cursive;
}

.head{
  background-color: #000a12;
  font-family: 'Yeon Sung', cursive;
}

#cards{
  font-family: 'Yeon Sung', cursive;
}

.registro{
  background: url(https://blog.casadellibro.com/wp-content/uploads/2019/09/cropped-Libros_oto%C3%B1o.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;

}

.formulario{
  margin: 0px 5px ;
  width: 50%;
}

.logo{
  margin: 20px 30px 0px 30px;
}
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }